{% extends 'attendance/base.html' %}
{% block content %}
<div class="ob-card" style="max-width:500px;">
    <h5>Add Leave Type</h5>
    <form method="post">
        {% csrf_token %}
        <div class="mb-2"><label class="form-label">Name</label><input type="text" name="name" class="form-control" required></div>
        <div class="mb-2"><label class="form-label">Description</label><textarea name="description" class="form-control"></textarea></div>
        <div class="mb-2"><label class="form-label">Category</label><input type="text" name="category" class="form-control" required></div>
        <div class="mb-2"><label class="form-label">Max Hours Allowed</label><input type="number" step="0.1" name="max_hours_allowed" class="form-control" required></div>
        <div class="mb-2"><label class="form-label">Limit Per Period</label><input type="number" name="limit_per_period" class="form-control" required></div>
        <div class="form-check mb-3"><input type="checkbox" name="is_paid" class="form-check-input"><label class="form-check-label">Paid</label></div>
        <button type="submit" class="btn btn-ob-save">Save</button>
    </form>
</div>
{% endblock %}